*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*inizio header*/
.container{
    background-color: lightblue;
    width: 100%;
    height: 100px;
   
}

.row-header{
    display: flex;
    justify-content: center;
    
}

.col-1{
    
    width: calc(10% );
    height: 50px;
    background-color: rgba(218,165,32,255);
    margin-top: 25px;
    border-style: dashed;
    padding: 10px;
    
}

.col-2{
    width: calc(30%);
    height: 50px;
    background-color: rgba(218,165,32,255);
    margin-top: 25px;
    border-style: dashed;
    padding: 10px;
    text-align: center;
}

.col-3{
    width: calc(10%);
    height: 50px;
    background-color: rgba(218,165,32,255);
    margin-top: 25px;
    border-style: dashed;
    padding: 10px;
    text-align: end;
}
    
/*fine header*/

/*inizio main*/
/*inizio main-1*/
.container-main-1{
    background-color: rgba(0,0,139,255);
    width: 100%;
    height: 400px;
}
  
    

.row-main-1{
    display: flex;
    justify-content: center;
}
   
    
.col-main-1{
    background-color: rgba(238,130,238,255);
    height: 350px;
    width: 650px;
    margin: 20px;
    border-style: dashed;
}
    
   
/*fine main-1*/
/*inizio main-2*/
.container-main-2{
    width: 100%;
    height: 400px;
}
    
.row-main-2{
    display: flex;
    justify-content: center;
}

.col-main-2{
    background-color: rgba(30,144,255,255);
    height: 350px;
    width: calc(60% / 2);
    margin-top: 30px;
    border-style: dashed;
}


.col2-main-2{
    background-color: rgba(255,192,203,255);
    height: 350px;
    width: calc(40% / 2);
    margin-top: 30px;
    border-style: dashed;
    
}

/*fine main-2*/
  /*inizio main-3*/
.container-main-3{
    width: 100%;
    height: 400px;
    background-color: lightgray;
}

.row-main-3{
    display: flex;
    justify-content: center;
}

.col-main-3{
    background-color: rgba(255,192,203,255);
    height: 350px;
    width: calc(40% / 2);
    margin-top: 30px;
    border-style: dashed;
}


.col2-main-3{
    background-color: rgba(30,144,255,255);
    height: 350px;
    width: calc(60% / 2);
    margin-top: 30px;
    border-style: dashed;
    
}
/*fine main-3*/

/*inizio main-4*/
.container-main-4{
    width: 100%;
    height: 400px;
}
    
.row-main-4{
    display: flex;
    justify-content: center;
}

.col-main-4{
    background-color: rgba(30,144,255,255);
    height: 350px;
    width: calc(60% / 2);
    margin-top: 30px;
    border-style: dashed;
}


.col2-main-4{
    background-color: rgba(255,192,203,255);
    height: 350px;
    width: calc(40% / 2);
    margin-top: 30px;
    border-style: dashed;
    
}
/*fine main-4*/

/*inzio main-5*/
.container-main-5{
    width: 100%;
    height: 710px;
    background-color: lightgray;
}

.row-main-5{
    display: flex;
    justify-content: center;
}

.col-main-5{
    background-color: rgba(34,139,34,255);
    height: 650px;
    width:50%;
    margin-top: 30px;
    border-style: dashed;
}
/*fine main-5*/
/*inzio main-6*/
.container-main-6{
    width: 100%;
    height: 400px;
    background-color: rgba(35,39,42,255);
}

.row-main-6{
    display: flex;
    justify-content: center;
    
  
}

.col-main-6{
    background-color:rgba(240,128,128,255) ;
    height: 370px;
    width: 10%;
    border-style: dashed;
    margin-top: 20px;
}
    

.col2-main-6{
    background-color:rgba(32,178,170,255) ;
    height: 370px;
    width: 11%;
    border-color: white;
    border-style: dashed;
    margin-top: 20px;
    
}
   
.col3-main-6{
    background-color:rgba(32,178,170,255) ;
    height: 370px;
    width: 10%;
    border-color: white;
    border-style: dashed;
    margin-top: 20px;
}
    

    
.col4-main-6{
    background-color:rgba(32,178,170,255) ;
    height: 370px;
    width: 10%;
    border-color: white;
    border-style: dashed;
    margin-top: 20px;
}


.col5-main-6{
    background-color:rgba(32,178,170,255) ;
    height: 370px;
    width: 9%;
    border-color: white;
    border-style: dashed;
    margin-top: 20px;
}

/*fine main-6*/

/*inizio main-7*/
.container-main-7{
    background-color: rgba(35,39,42,255);
    width: 100%;
    height: 100px;
  
}
.row-main-7{
    
    justify-content: center;
    display: flex;

}

.col-main-7{
    background-color: aquamarine;
    width: 50%;
    height: 60px;
    margin-top: 40px;
}

.col2-main-7{
    background-color: rgba(255,182,193,255);
    width: 54px;
    height: 30px;
    border-style: dashed;
    text-align: center;
}
  
.col3-main-7{
    
    background-color: rgba(255,182,193,255);
    height: 30px;
    border-style: dashed;
    text-align: center;
    margin-left: 890px;
}

/*fine main-7*/
    
    
   

    
   